.navbar {
    height: 70px;
    background-color: rgba(255, 255, 255, 0.95);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: var(--shadow);
    backdrop-filter: blur(5px);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary);
}

.logo span {
    color: var(--accent);
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-links li a {
    font-weight: 500;
    color: var(--text-dark);
    transition: var(--transition);
}

.nav-links li a:hover {
    color: var(--accent);
}

.logout-btn {
    background: none;
    font-weight: 500;
    color: var(--text-dark);
}

.logout-btn:hover {
    color: var(--accent);
}